<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header style="background-color:yellow">
        <h1>Header Portion</h1>
    </header>
        @RenderBody()                                         // it will point out child pages
    <footer style ="background-color:aqua">
            <h1>Footer portion</h1>
        </footer>
    
</body>
</html>
